<div class="jumbotron">
<h1>LastCall</h1>
<br>
<p>Find out about the wide world of the Washington DC WMATA metro rail system.</p>
<br>  
<%= link_to inside_path, class: "btn btn-primary btn-lg" do %>
    <i>Learn More</i>
    <% end %>

</div>

