<h2> Stations that are 5 minutes walk from this address </h2>





<table class="table table-striped">
  <thead>
    <tr>
      <th>Stations</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
  <% if @parsed_areas.length > 0 %><br>
  <% @parsed_areas.each do |area| %>
  
      <tr>
        <td><%= area[:name] %></td>
        <td>
        <%= area[:vicinity] %>
        </td>
      </tr>
    <% end %>
    <% else %>
  <div style=" margin-left: auto;margin-right: auto;width: 70%;"class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  There are no metro stations within 5 minutes walking distance of this location.
  </div>
<% end %>
  </tbody>
</table>
</br>
</br>

<h4>Opening & Closing times<span class="label label-default" style=" margin-bottom: 50px"></span></h4></br>
<h4><span class="label label-success">5 am Weekdays | 7 am Weekends</span></h4><h4><span class="label label-danger">12 am Sun-Thur | 3 am Fri-Sat</span></h4>
</i></br></br></br>

<%= link_to 'WMTA.com for more Info', "http://www.wmata.com/rail/?", :class => 'btn btn-primary' %>

